**ITERATIVE/LOOPING PROBLEMS USING PYTHON**

1.Reverse of a given number

In [ ]:
n =int(input('Enter a number: '))

Rev = 0

while (n>0):
  digit = n%10
  Rev = Rev*10 + digit
  n//=10
print("The reverse is " ,Rev)

Enter a number: 123
The reverse is  321

2.Sum of first n natural numbers

In [ ]:
n = int(input('Enter limit '))
Sum = 0 

for i in range(1,n+1):
  Sum = Sum+i
print('Sum of first n natural numbers is : ',Sum)

Enter limit 6
Sum of first n natural numbers is :  21

3.Sum of factors of a number

In [ ]:
n = int(input('Enter a number : '))
sum = 0 
f = 1
print('Factors are : ')
for  f in range(1,n+1):
 if n%f==0:
   print(f,end=' ')
   sum =sum+f

print ('\nSum of factors is : ',sum)

Enter a number : 5
Factors are :
1 5
Sum of factors is :  6

4.print N terms of an arithmetic sequence

In [ ]:
n = int(input("Enter number of terms : "))
d = int(input("Enter common difference "))
a = int(input("Enter first term of AP "))
i = 0
m = 0

print('AP IS : ')
while n>i:
  i = i+1
  m = a+((i-1)*d)
  print(m,end=" ")

Enter number of terms : 5
Enter common difference 5
Enter first term of AP 5
AP IS :
5 10 15 20 25

5.print N terms of fibonacci series

In [ ]:
n = int(input("Enter the limit : "))
f1 = 0
f2 = 1
f3 = 2
print(f1)
print(f2)
while n>=2:
  temp = f1
  f1 = f2
  f2 = f2+temp
  print(f2)
  n = n-1

Enter the limit : 6
0
1
1
2
3
5
8

6.Chcek whether palindrome or not.

In [ ]:
n = int(input('Enter a number : '))
temp = n
Rev = 0
while (n>0):
  digit = n%10
  Rev = Rev*10+digit
  n = n//10
if(temp==Rev):
   print("The number is palindrome.")
  
else:
 print("The number is not palindrome")

Enter a number : 1221
The number is palindrome.

7.Check whether armstrong number or not.

In [ ]:
n = int(input('Enter a number : '))
sum = 0
temp = n
while temp>0:
    digit = temp%10
    sum += digit**3
    temp = temp//10
if(n == sum):
    print(n,"is an armstrong number")
else:
    print(n,"is not an armstrong number")

Enter a number : 153
153 is an armstrong number

8.Write a program to evaluate x^n.

In [ ]:
x = int(input('Enter : '))
n = int(input('Enter value of exponent : '))
value = x**n
print("x^n : ",value)

Enter : 7
Enter value of exponent : 2
x^n :  49

9.Print first n odd numbers.

In [ ]:
n = int(input('Enter the limit : '))
i = 1
print("Odd numbers are : ")
for i in range(1,n+1,2):

  print(i,end=' ')

Enter the limit : 20
Odd numbers are :
1 3 5 7 9 11 13 15 17 19

10.Find first GCD of 2 numbers

In [1]:
n1=int(input('Enter the first number : '))
n2=int(input('Enter the second number : '))
gcd=0
c=0
while(c<n1):
  c=c+1
  if(n1%c==0 and n2%c==0):
    gcd=c
if(gcd==0):
  print('No GCD')
else:
  print('GCD is : ',gcd)

Enter the first number : 144
Enter the second number : 344
GCD is :  8

11.Print factorial of a given number.

In [2]:
num=int(input('Enter the number : '))
n=1
if(num==0):
  print('Factorial of the number is 1')
else:
  while(num>1):
    n=n*num
    num=num-1
  print('Factorial of the number is : ',n)

Enter the number : 595
Factorial of the number is :  165495854129254607236210980301003884312113752435909069717866265264938251190648678441353540720600090532875186810338642507488137896766035968221539296744717218245180144282895385716832190123879548166980843509297184472963895299079213553877300060562216280035878557668196916364677027647767758488404954638631729566469172210723066820264990647773001844010797690746568248587110127489414793077369353777970601724747854893460281958203277389383511842139641388593374139744476691982888343678054282922057870804741798152147101765216677511765615722557707123942781752658801004086276453895725636874891212550501116665626307390867560560142100123883617148717687130026075902219776406164831754259793857802124712980463237563850581758650091360406614108851808073511244007931750582638583394688145502274133797562211110553040261620375892257112244681134241936777668579391811413553416844811311259157486805533529694982789598511733636076300210833514045181194870840102466288796122349963863107397026725408832511539754187556258278920300565713495300978254686974482637018525190135667835144691329283117362883029826634763983785866468948460974484117302918415021464823761182644944022053577232683459783992243226067993890863218856780137351704472667707870847163350699573419858800489576882281801318400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

12.Sequence

In [9]:
num1=int(input('Enter the first number : '))
num2=int(input('Enter the last number : '))
while(num1<=num2):
  sqr=num1*num1
  num1=num1+1
  print(sqr)

Enter the first number : 3
Enter the last number : 9
9
16
25
36
49
64
81

13.Sum of terms

In [5]:
n=int(input('Enter the number of terms : '))
c=1
sum=0
sign=1
while(c<=n):
  temp=sign*(c**2)
  sum=sum+temp
  sign=sign*(-1)
  c=c+1
print('Toyal sum is : ',sum)

Enter the number of terms : 45
Toyal sum is :  1035

14.Automorphic

In [6]:
num=int(input('Enter the num : '))
c=0
sqr=num*num
temp=num
while(temp>=1):
  c=c+1
  temp=temp//10
if(num==sqr%10**c):
  print(num,' is Automorphic')
else:
  print(num,' is not Auotomorphic')

Enter the num : 56
56  is not Auotomorphic

15.Binary

In [7]:
bi=int(input('Enter the binary number : '))
c=0
deci=0
while(bi>=1):
  remn=bi%10
  bi=bi//10
  deci=deci+remn*2**c
  c=c+1
print('Dcimal number is : ',deci)

Enter the binary number : 56
Dcimal number is :  16