<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Test case <br>no</th>
    <th class="tg-0pky">Description</th>
    <th class="tg-0pky">Input</th>
    <th class="tg-0pky">Expected output</th>
    <th class="tg-0pky">Actual <br>output</th>
    <th class="tg-0pky">Result</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">1</td>
    <td class="tg-0pky">Check whether this program is correct</td>
    <td class="tg-0pky">2452</td>
    <td class="tg-0pky">sum=13<br>Reverse=2542<br>Difference=-2</td>
    <td class="tg-0pky">sum=13<br>Reverse=2542<br>Difference=-2</td>
    <td class="tg-0pky">passed</td>
  </tr>
  <tr>
    <td class="tg-0pky">2</td>
    <td class="tg-0pky">Check whether this program is correct</td>
    <td class="tg-0pky">1536</td>
    <td class="tg-0pky">sum=15<br>Reverse=6351<br>Difference=27</td>
    <td class="tg-0pky">sum=15<br>Reverse=6351<br>Difference=27</td>
    <td class="tg-0pky">passed</td>
  </tr>
</tbody>
</table>

Develop a program to read a four-digit number and find its

a. Sum of digits

b. Reverse

c. Difference between the product of digits at the odd position
and the product of digits at the even position.

In [ ]:
a=int(input('Enter a four digit number:'))
dig4=a%10
a=a//10
dig3=a%10
a=a//10
dig2=a%10
a=a//10
dig1=a%10
sum=dig1+dig2+dig3+dig4
rev=(dig4*1000)+(dig3*100)+(dig2*10)+dig1
diff=((dig1*dig3)-(dig2*dig4))
print('sum=',sum)
print('Reverse=',rev)
print('Difference =',diff)