**Sequential Problems using python**



> 1.Average of three numbers

In [1]:
num1= int(input('Enter number 1:'))
num2= int(input('Enter number 2:'))
num3= int(input('Enter number 3:'))

average=(num1+num2+num3)/3
print("Average=",average)

Enter number 1:30
Enter number 2:60
Enter number 3:90
Average= 60.0

2. Sum and average of three numbers

In [3]:
num1= int(input('Enter number 1:'))
num2= int(input('Enter number 2:'))
num3= int(input('Enter number 3;'))

sum=num1+num2+num3
average=sum/3

print("Sum=",sum)
print("Average=",average)

Enter number 1:30
Enter number 2:60
Enter number 3;90
Sum= 180
Average= 60.0

3.Perimeter and area of a triangle

In [1]:
a= float(input('Enter the value of side A='))
b= float(input('Enter the value of side B='))
c= float(input('Enter the value of side C='))

s=(a+b+c)/2
perimeter=a+b+c
area=(s*(s-a)*(s-b)*(s-c))**0.5

print("Perimeter=",perimeter)
print("Area=",area)

Enter the value of side A=6
Enter the value of side B=8
Enter the value of side C=9
Perimeter= 23.0
Area= 23.525252389719434

4.Swapping Variable

In [24]:
a= int(input('Enter a number a='))
b= int(input('Enter a number b='))

a=a+b
b=a-b
a=a-b


print("a=",a)
print("b=",b)

Enter a number a=9
Enter a number b=5
a= 5
b= 9

5.Arithmetic operations

In [8]:
num1= int(input('Enter a number n1='))
num2= int(input('Enter a number n2='))

sum=num1+num2
difference=num1-num2
product=num1*num2
quotient=num1/num2
remainder=num1%num2

print("Sum=",sum)
print("Difference=",difference)
print("Product=",product)
print("Quoitent=",quotient)
print("Remainder=",remainder)

Enter a number n1=12
Enter a number n2=5
Sum= 17
Difference= 7
Product= 60
Quoitent= 2.4
Remainder= 2

6.Day conversions

In [6]:
n= int(input('Enter number of days n='))

NumberofDays =n/1
NumberofMonths=n/30
NumberofYears=n/365

print("Number of days=",NumberofDays)
print("Number of months=",NumberofMonths)
print("Number of years=",NumberofYears)

Enter number of days n=3657
Number of days= 3657.0
Number of months= 121.9
Number of years= 10.01917808219178

7.Area of a circle

In [3]:
r= int(input('Enter the radius of the circle r='))
 
area=3.14*r**2
print("Area of the circle is",area)

Enter the radius of the circle r=5
Area of the circle is 78.5

8. Time conversions

In [5]:
n= int(input('Enter the number of second n='))
 
seconds=n/1
minutes=n/60
hours=minutes/60
 
print("No. of seconds=",seconds)
print("No. of minutes=",minutes)
print("No. of hours=", hours)

Enter the number of second n=14400
No. of seconds= 14400.0
No. of minutes= 240.0
No. of hours= 4.0